# Prerequisites
*.d

# Test Dirs
test*

# Build Dirs
build
buildNT
build*

# CMake Files
CMakeFiles
cmake_install.cmake
CMakeCache.txt

# Makefile config (please make your own based on config_EXAMPLE.mk)
config.mk
config*.mk
Makefile

# VS Code Files
.vscode

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
